<?xml version="1.0"?>

<model>
	<name>living_room_shell</name>
	<version>1.0</version>
	<sdf version="1.5">living_room_shell.sdf</sdf>
	<author>
		<name>RS</name>
		<email>engnation101@gmail.com</email>
	</author>

	<description>
		A representation of my living room, including the floor, walls, and baseboards
	</description>
</model>